//
// Written by Synplify Pro 
// Product Version "Q-2020.03M-SP1"
// Program "Synplify Pro", Mapper "map202003act, Build 160R"
// Thu Dec  9 13:04:23 2021
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\generic\smartfusion2.v "
// file 1 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\users\jiabin lin\desktop\module4_libero\hdl\shiftrows.v "
// file 6 "\c:\users\jiabin lin\desktop\module4_libero\hdl\sbox.v "
// file 7 "\c:\users\jiabin lin\desktop\module4_libero\hdl\sub_bytes.v "
// file 8 "\c:\users\jiabin lin\desktop\module4_libero\hdl\round.v "
// file 9 "\c:\users\jiabin lin\desktop\module4_libero\hdl\key_generation.v "
// file 10 "\c:\users\jiabin lin\desktop\module4_libero\hdl\mixcolumns.v "
// file 11 "\c:\users\jiabin lin\desktop\module4_libero\hdl\aes_main.v "
// file 12 "\c:\microsemi\libero_soc_v12.6\synplifypro\lib\nlconst.dat "
// file 13 "\c:\users\jiabin lin\desktop\module4_libero\designer\aes_main\synthesis.fdc "

`timescale 100 ps/100 ps
module aes_main (
  clk,
  indicators
)
;
input clk ;
output [7:0] indicators ;
wire clk ;
wire VCC ;
wire GND ;
// @11:37
  OUTBUF \indicators_obuf[0]  (
	.PAD(indicators[0]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[1]  (
	.PAD(indicators[1]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[2]  (
	.PAD(indicators[2]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[3]  (
	.PAD(indicators[3]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[4]  (
	.PAD(indicators[4]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[5]  (
	.PAD(indicators[5]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[6]  (
	.PAD(indicators[6]),
	.D(GND)
);
// @11:37
  OUTBUF \indicators_obuf[7]  (
	.PAD(indicators[7]),
	.D(GND)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* aes_main */

